.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconSection {
    width: 100px;
    height: 100px;
    background-color: var(--background);
    display: flex;
    border-bottom: 1px solid #2E3149;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 9999px;
}

.iconSection::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 51%;
    left: -20px;
    height: 21px;
    width: 25px;
    box-shadow: 15px -15px 0 15px var(--background);
    border-top-right-radius: 50px;
    border-top: 1px solid #2E3149;
}

.iconSection::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 51%;
    right: -20px;
    height: 21px;
    width: 25px;
    box-shadow: -15px -15px 0 15px var(--background);
    border-top: 1px solid #2E3149;
    border-top-left-radius: 50px;
}

.tokenLogo {
    width: 80px;
    height: 80px;
    display: flex;
    z-index: 10;
    border-radius: 9999px;
    background-color: var(--secondryLight);
    justify-content: center;
    align-items: center;
}

.tokenLogo>img {
    width: 3.5rem;
    height: 3.5rem;
}

.cardBody {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
    gap: 2rem;
    background-color: var(--primary);
    margin-top: -50px;
    min-width: 370px;
    min-height: 470px;
    border-radius: 15px;
    border-top: 1px solid #2E3149;
}

.currentValue {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.currentValue .title {
    color: var(--text);
    font-size: var(--small);
}

.currentValue .value {
    color: var(--secondry);
    font-weight: bold;
    font-size: var(--large);
}

.tokenSelectorDropdown {
    width: 100%;
    align-items: center;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: var(--secondryLight);
}

.tokenSelectorDropdown .tokenName {
    display: flex;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tokenSelectorDropdown .tokenName .selectedTokenLogo {
    width: 1.5rem;
    height: 1.5rem;
}

.tokenSelectorDropdown .tokenName .name {
    color: white;
    font-size: var(--medium);
}

.tokenSelectorDropdown .dropdownArrow {
    width: 1rem;
    height: .7rem;
    padding-right: 1rem;
}

form {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: var(--small);
    color: var(--text);
}

.input {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid 1px var(--secondryLight);
    align-items: center;
    margin-bottom: 2rem;
}

.disabled {
    border-radius: 10px;
    background-color: var(--secondryLight);
}

.input .currency {
    padding-right: 1rem;
    color: white;
    font-size: var(--medium);
}

input {
    background-color: transparent;
    padding: 1rem;
    flex-grow: 1;
    font-weight: 400;
    font-size: var(--large);
    border: none;
    color: var(--inputText);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}


.buyBtn {
    height: 50px;
    width: 100%;
}

@media (max-width: 480px) {
    .cardBody {
        padding: 1rem;
        gap: 1.3rem;
        background-color: var(--primary);
        margin-top: -50px;
        min-width: 250px;
        min-height: 470px;
    }

    form {
        gap: .5rem;
    }

    .tokenLogo {
        width: 60px;
        height: 60px;
    }

    .tokenLogo>img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .iconSection {
        width: 80px;
        height: 80px;
        background-color: var(--background);
        display: flex;
        border-bottom: 1px solid #2E3149;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 9999px;
    }

    .iconSection::before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 40%;
        left: -23px;
        height: 21px;
        width: 25px;
        box-shadow: 15px -15px 0 15px var(--background);
        border-top-right-radius: 50px;
        border-top: 1px solid #2E3149;
    }

    .iconSection::after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 40%;
        right: -24px;
        height: 21px;
        width: 25px;
        box-shadow: -15px -15px 0 15px var(--background);
        border-top: 1px solid #2E3149;
        border-top-left-radius: 50px;
    }
}