.tokenItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0rem;
    gap: 1rem;
    border-radius: 3px;
}

.selected {
    border-radius: 2px;
    background-color: var(--selectedToken);
}

.tName {
    flex-grow: 1;
    font-size: var(--medium);
    color: white;
}

.tokenItem>.tokenImg {
    padding-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
}

.tic {
    padding-right: 1rem;
}